In [1]:
# 1
a = 'True'
b = 7289.895
c = int(b)
d = str(c)

print(a,b,c,d)
print(type(a), type(b), type(c), type(d))

True 7289.895 7289 7289
<class 'str'> <class 'float'> <class 'int'> <class 'str'>

In [6]:
# 2
number = int(12180627)
name = str('손준영')
number = str(number)
print(number + name)

12180627손준영

In [8]:
# 3
kate = int(100)
tom = int(81)
emma = int(93)
sophia = int(67)

average = (kate + tom + emma + sophia) / 4
print(average, type(average))

85.25 <class 'float'>

In [16]:
# 4
# a의 성적 및 평균
a_k = int(100)
a_m = int(72)
a_e = int(77)
a_aver = (a_k + a_m + a_e) / 3
print(a_aver)

# b의 성적 및 평균
b_k = int(94)
b_m = int(64)
b_e = int(58)
b_aver = (b_k + b_m + b_e) / 3
print(b_aver)

# c의 성적 및 평균
c_k = int(84)
c_m = int(97)
c_e = int(67)
c_aver = (c_k + c_m + c_e) / 3
print(c_aver)

# 과목별 평균
k_aver = (a_k + b_k + c_k) / 3
m_aver = (a_m + b_m + c_m) / 3
e_aver = (a_e + b_e + c_e) / 3
print(k_aver, m_aver, e_aver)

# 가장 평균이 높은 과목 이름과 점수
print('korean', max(k_aver, m_aver, e_aver))

83.0
72.0
82.66666666666667
92.66666666666667 77.66666666666667 67.33333333333333
korean 92.66666666666667

In [23]:
# 5-1
a = 13
b = 5
print(a/b)
print(a//b)
print(a%b)

# 5-2
a = b * (a//b) + (a%b)
print(a)

2.6
2
3
13

In [24]:
# 6
Daum = int(89000)
Naver = int(751000)
stock = Daum * 100 + Naver * 20
print(stock)

23920000

In [25]:
# 7
Daum_down = Daum*0.95
Naver_down = Naver*0.9
stock_down = Daum_down*100 + Naver_down*20
loss = stock - stock_down
print(loss)

1947000.0

In [26]:
# 8
apple = 13
tomato = 24
name1 = "Bill"
total_fruits = apple + tomato

print('we have {} tomatos'.format(tomato))
print('apple + tomato is {}'.format(total_fruits))
print('my name is %s. nice to meet you' % name1)

we have 24 tomatos
apple + tomato is 37
my name is Bill. nice to meet you

In [27]:
# 9
F = int(50)
C = (F-32)/1.8
print(C)

10.0

In [28]:
# 10
x1 = 100
y1 = 100
print(id(x1), id(y1))

x2 = 300
y2 = 300
print(id(x2), id(y2))

140707500209024 140707500209024
2659512601104 2659512600912

각 변수마다 할당된 메모리가 다르기 때문에 메모리에 할당된 객체의 주소 또한 다르지만 효율성을 위해 256 이하의 숫자는 같은 주소에 저장된다

In [35]:
# 11
input_1 = input()
input_2 = input()
input_3 = input()

print('학과를 입력하세요 :', input_1)
print('학번을 입력하세요 :', input_2)
print('이름을 입력하세요 :', input_3)
print('학과 :', input_1, '학번 :', input_2, '이름 :', input_3)

산업경영공학과
12345678
홍길동
학과를 입력하세요 : 산업경영공학과
학번을 입력하세요 : 12345678
이름을 입력하세요 : 홍길동
학과 : 산업경영공학과 학번 : 12345678 이름 : 홍길동

In [40]:
# 12
name = "Tom"
age = 23
department = "finance"

print('Name : %s, Age : %d, Department : %s' % (name, age, department))

Name : Tom, Age : 23, Department : finance

In [41]:
# 13
agree = int(245684)
oppose = int(152444)
ratio = agree / (agree + oppose)*100

print("""찬성의 득표수는 {1:6d} 표이고, 반대의 득표수는 {2:6d} 표이다. 그리고 총 찬성득표비율은 {0:.5f}%이다.""".format(ratio, agree, oppose))

찬성의 득표수는 245684 표이고, 반대의 득표수는 152444 표이다. 그리고 총 찬성득표비율은 61.70980%이다.

In [45]:
# 14
num_list = [1,2,3,4,5,6,7,8,9,10]
print(num_list[3], ',', num_list[8])
print(len(num_list))

4 , 9
10

In [52]:
# 15
new_list = num_list[::-1]
new_list[0:8:2]

[10, 8, 6, 4]

In [60]:
# 16
name1 = ['도윤', '하준', '서준', '시우', '민준']
name2 = ['하윤', '서윤', '서연', '하은', '지유']

name1.insert(0,'지호')
name1.remove('시우')
name1.insert(4, '준우')

del name2[2:5]
name2.append('수아')

total_name = name1 + name2
print(total_name)

['지호', '도윤', '하준', '서준', '준우', '민준', '하윤', '서윤', '수아']

In [65]:
# 17
Brooke_score = ['67', '50', '94']
Lydia_score = ['88', '48', '55']
Stella_score = ['69', '66', '76']
Lucy_score = ['95', '78', '68']
total_score = [Brooke_score, Lydia_score, Stella_score, Lucy_score]

print('Lydia의 Math 점수 :', total_score[1][2])
print('Lucy의 English 점수 :', total_score[3][1])

Lydia의 Math 점수 : 55
Lucy의 English 점수 : 78

In [5]:
# 18
number = int(input('1부터 10까지의 숫자를 입력해주세요 :'))

while number < 1 or number >10:
    number = int(input('1부터 10까지의 숫자를 입력해주세요 :'))
    
if number % 2 == 0:
    print('이 수는 짝수입니다.')
    if number < 5:
        print('이 수는 5보다 작은 수입니다.')
    elif number == 5:
        print('이 수는 5입니다.')
    else:
        print('이 수는 5보다 큰 수입니다.')
else:
    print('이 수는 홀수입니다.')
    if number < 5:
        print('이 수는 5보다 작은 수입니다.')
    elif number == 5:
        print('이 수는 5입니다.')
    else:
        print('이 수는 5보다 큰 수입니다.')

1부터 10까지의 숫자를 입력해주세요 :0
1부터 10까지의 숫자를 입력해주세요 :11
1부터 10까지의 숫자를 입력해주세요 :4
이 수는 짝수입니다.
이 수는 5보다 작은 수입니다.

In [7]:
# 19
number = int(input('1부터 9까지의 숫자를 입력하세요 :'))

while number < 1 or number >= 10:
    number = int(input('1부터 9까지의 숫자를 다시 입력하세요 :'))

for i in range(1,10):
    num = number * i
    print('{} * {} = {}'.format(number, i, num))

1부터 9까지의 숫자를 입력하세요 :11
1부터 9까지의 숫자를 다시 입력하세요 :0
1부터 9까지의 숫자를 다시 입력하세요 :5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [20]:
# 20
num = int(input("몇 개를 출력 할까요 :"))
list_a = [1,1]

for i in range(2,num):
    list_a.append(list_a[i-1] + list_a[i-2])
print(list_a)

몇 개를 출력 할까요 :10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]