In [3]:
# 실습 문제 1
a1 = "this is string type"
a2 = "1. 2. 3. 4. 5. 6. 7."
a3 = "one = 1, two = 2, three = 3"

print(a1.isdigit())
print(a2.isdigit())
print(a3.isdigit())

print(a1.upper())
print(a2.replace('.',''))
print(a3.replace('=','-'))

False
False
False
THIS IS STRING TYPE
1 2 3 4 5 6 7
one - 1, two - 2, three - 3

In [59]:
# 실습 문제 2
a = 'Hello My nick name is rednose'
a[22:29] = 'blacknose' # error가 발생해야 정상

TypeError: ignored

문자열은 고정된 값을 나타내기 때문에 인덱싱을 사용하여 변경하는 것이 아닌 replace()와 같은 문자열 함수를 이용하여 변경해야 한다.

In [5]:
a = 'Hello My nick nmae is rednose'
a.replace('rednose', 'blacknose')

'Hello My nick nmae is blacknose'

In [6]:
# 실습 문제 3
han = "가 나 다 라 마 바 사"
han_list = han.split(' ')

for i in range(len(han_list)):
    if i < 6:
        print(han_list[i]+'-', end='')
    else:
        print(han_list[i])

가-나-다-라-마-바-사

In [7]:
# 실습 문제 4
text = "I'm dancing in the dark with you between my arms"
text_list = text.split(' ')

for i in range(len(text_list)-1,-1,-1):
    print(text_list[i], end=' ')

arms my between you with dark the in dancing I'm

In [2]:
f = open('산업공학실험 4주차 yesterday.txt', 'r')

yesterday_lyric = ''
while 1:
    line = f.readline()
    if not line:
        break
    yesterday_lyric = yesterday_lyric + line.strip() + '\n'
f.close()

print(yesterday_lyric)

Yesterday
All my troubles seemed so far away
Now it looks as though they're here to stay
Oh, I believe in yesterday
Suddenly
I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly
Why she had to go
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday
Yesterday
Love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday
Why she had to go
I don't know, she wouldn't say
I said something wrong
Now I long for yesterday
Yesterday
Love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday
Mm, mm, mm, mm, mm, mm, mm

In [14]:
# 실습 문제 5
print('Yesterday가 나온 횟수 :', yesterday_lyric.count('Yesterday'))
print('yesterday가 나온 횟수 :', yesterday_lyric.count('yesterday'))
print('Yesterday와 yesterday가 나온 횟수 :', yesterday_lyric.count('Yesterday') + yesterday_lyric.count('yesterday'))

Yesterday가 나온 횟수 : 3
yesterday가 나온 횟수 : 6
Yesterday와 yesterday가 나온 횟수 : 9

In [17]:
# 실습 문제 6
example = "+++++---this is example/////**********"

def change(txt):
    TXT = txt.strip("+-/*")
    return TXT.upper()

change(example)

'THIS IS EXAMPLE'

In [52]:
# 실습 문제 7
num = input("숫자를 10개 입력해주세요")

while len(num) != 10 or num.isdigit() == False:
    num = input("숫자를 10개 입력해주세요")
else:
    print(num[:5],'-',num[5:])

숫자를 10개 입력해주세요123
숫자를 10개 입력해주세요abcdefghij
숫자를 10개 입력해주세요12345abcde
숫자를 10개 입력해주세요1234567890
12345 - 67890

In [20]:
# 실습 문제 8
abc = " Hello guys! I study Python.  "
print("빈칸의 개수는 %d 입니다." % abc.count(' '))
print("알파벳 s가 문자열에서 등장하는 횟수는 %d 회 입니다." % abc.count('s'))

빈칸의 개수는 7 입니다.
알파벳 s가 문자열에서 등장하는 횟수는 2 회 입니다.

In [21]:
# 실습 문제 9
print("c:\dir1\name")
print(r"c:\dir1\name")

c:\dir1
ame
c:\dir1\name

r로 선언된 문자열은 raw string으로 이를 사용하면 escape 문자인 \n이 동작하지 않고 그대로 출력된다.

In [58]:
# 실습 문제 10
def txtchange(txt):
    sentences = txt.split('.')
    words = txt.replace(' ','')
    
    print("문장의 수 :", len(sentences)-1)
    print("글자의 수 :", len(words))

text = "i'm only one call away. i'll be there to save the day. superman got nothing on me."
print("입력된 문자열 :", text)
txtchange(text)

입력된 문자열 : i'm only one call away. i'll be there to save the day. superman got nothing on me.
문장의 수 : 3
글자의 수 : 66