실습 문제 1

In [72]:
L1=[]
L2=[]

for i in range(10):
    num = int(input())
    if num %2 == 0:
        L1.append(num)
    else:
        L2.append(num)

print('L1 =', L1)
print('L2 =', L2)

1
2
3
4
5
6
7
8
9
10
L1 = [2, 4, 6, 8, 10]
L2 = [1, 3, 5, 7, 9]

실습 문제 2

In [73]:
list1 = ['Python', 'continuous', 'element', 'exercise', 'matrix', 'practice', 'order', 'solution', 'deep', 'choice', 'resource' ]
result = [i for i in list1 if len(i) >= 8]

print('result =', result)

result = ['continuous', 'exercise', 'practice', 'solution', 'resource']

실습 문제 3

In [ ]:
list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

for i in list1:
    if i == None:
        list1.remove(None)

print(list1)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

실습 문제 4

In [75]:
score = [40, 79, 85, 97, 59]

for i, value in enumerate(score):
    if value > 60:
        print('{}번째 학생 = {}점: 축하합니다, 합격입니다!'.format(i+1, value))

2번째 학생 = 79점: 축하합니다, 합격입니다!
3번째 학생 = 85점: 축하합니다, 합격입니다!
4번째 학생 = 97점: 축하합니다, 합격입니다!

실습 문제 5

In [ ]:
dict1 = {}
for i in range(1,16):
    dict1[i] = i**2

print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

실습 문제 6

In [ ]:
dict1 = {}
list_x = []
list_y = []
list_z = []
for i in range (11,41):
    if 11 <= i <= 20:
        list_x.append(i)
        dict1['x'] = list_x
    elif 21 <= i <= 30:
        list_y.append(i)
        dict1['y'] = list_y
    else:
        list_z.append(i)
        dict1['z'] = list_z

print('딕셔너리:', dict1)
print('Key x의 5번째 값=', dict1['x'][4])
print('Key y의 5번째 값=', dict1['y'][4])
print('Key z의 5번째 값=', dict1['z'][4])

딕셔너리: {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}
Key x의 5번째 값= 15
Key y의 5번째 값= 25
Key z의 5번째 값= 35

실습 문제 7

In [ ]:
dict1 = {"1":"3", "2":"5", "3":"7", "4":"9", "5":"11"}

num = input('Key를 입력하세요')
if num in dict1.keys():
    del dict1[num]
    print('입력한 Key는 {}입니다'.format(num))
    print('입력한 Key {}에 해당하는 값이 제거되었습니다'.format(num))
    print('변환된 딕셔너리 값은 다음과 같습니다:', dict1)
else:
    print('입력한 Key {}는 딕셔너리 내에 존재하지 않습니다'.format(num))

Key를 입력하세요3
입력한 Key는 3입니다
입력한 Key 3에 해당하는 값이 제거되었습니다
변환된 딕셔너리 값은 다음과 같습니다: {'1': '3', '2': '5', '4': '9', '5': '11'}